{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<div class="container py-3">
    <div class="row align-items-center bg-light">
        <div class="col-lg-6 order-2 order-lg-1">
            <h1 style="text-align: center;" class="display-4">Who is<br>Bo-Dec?</h1>
            <p class="lead text-muted mb-0">
                Bo-Dec, Inc., a roofing contractor in Archbold, Ohio, was established in 1974 by brothers Bill and Orville Fricke. Along with the input of their wives Carolyn and Delight, the name Bo-Dec was created. Many folks ask "What does Bo-Dec stand for?", or "What is Bo-Dec?". Well, what do you get when you put Bill, Orville, Delight and Carolyn together? Bo-Dec, of course! Now, weren't they clever!
            </p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
            <img style="opacity: .8; border-radius: 10%;" src="{% static 'img/employees/orvillerob.jpg' %}" alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
    </div>

    <div class="row align-items-center mb-5 mt-5 bg-white">
        <div class="col-lg-6 order-2 order-lg-1">
            <p class="font-italic text-muted mb-4">
                In 1979, Bo-Dec became incorporated in the state of Ohio, sole owners being Orville Fricke and his son Rob Fricke. For the past 40+ years, Bo-Dec, Inc. has served Northwest Ohio as a certified applicator of Urethane Foam Built-Up Roofs and EPDM Rubber Roofs. Clients range in a 75 mile radius of Northwest Ohio, into Michigan and Indiana, with work also contracted in Illinois and Tennessee. Bo-Dec, Inc. has also done charitable roof work in the Dominican Republic.
            </p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
            <img style="opacity: .8; border-radius: 10%;" src="{% static 'img/employees/crew.jpg' %}" alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
    </div>

    <div class="row align-items-center bg-light">
        <div class="col-lg-5 px-5 mx-auto">
            <img style="opacity: .8; border-radius: 10%;" src="{% static 'img/trucks/truck2.jpg' %}" alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
        <div class="col-lg-6">
            <p class="font-italic text-muted mb-4">
                Bo-Dec, Inc. has serviced over 250 industrial, commercial and residential customers, including Campbell Soup, Sauder Woodworking, and many Northwest Ohio schools. With millions of square feet of quality roofs applied, our experience, dedication and professionalism has made Bo-Dec, Inc. the choice for your roofing needs.
            </p>
        </div>
    </div>
</div>
{% endblock content %}