{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">

<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <!-- <i class="fa-solid fa-people-roof text-primary fa-2xl mt-4 mr-2"></i> -->
                    <div class="d-flex flex-column ml-2">
                        <h2 style="align-self: center;"><span class="badge badge-pill badge-primary mb-2">Roofing</span></h2>
                        {% include 'website/services/urethane.html' %}
                        {% include 'website/services/single-ply.html' %}
                        {% include 'website/services/bitumen.html' %}
                        {% include 'website/services/foam-flashing.html' %}
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <!-- <i class="fa-solid fa-people-roof text-primary fa-2xl mt-4 mr-2"></i> -->
                    <div class="d-flex flex-column ml-2">
                        <h2 style="align-self: center;"><span class="badge badge-pill badge-success mb-2">Wall Restoration</span></h2>
                        {% include 'website/services/tuck-point.html' %}
                        <span style="text-align: center; color: gray;">ERAPerm Sealing</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <!-- <i class="fa-solid fa-people-roof text-primary fa-2xl mt-4 mr-2"></i> -->
                    <div class="d-flex flex-column ml-2">
                        <h2 style="align-self: center;"><span class="badge badge-pill badge-danger mb-2">Insulation</span></h2>
                        {% include 'website/services/wall-insulation.html' %}
                        
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
{% endblock content %}