{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<style>

  .navbar {
    background-color: navy;
  }

  .nav-item:hover h3 {
    color: white;
  }

  .navbar-toggler {
    background-color: lightgray;
  }

  .custom-nav .nav-item:not(:last-child) {
    margin-right: 10px;
    position: relative;
  }

  .custom-nav .nav-item:not(:last-child)::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translate(50%, -80%);
  }

  li {
    list-style-type: none;
    padding: 10px;
  }

  a {
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    color: white;
    position: relative;
  }

  ul li a:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: silver;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
  }

  ul li a:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: silver;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
  }

  ul li a:hover:before {
    width: 50%;
    transform: translateX(100%);
  }

  ul li a:hover:after {
    width: 50%;
    transform: translateX(-100%);
  }

  ul li a.active:before {
    width: 50%;
    transform: translateX(100%);
  }

  ul li a.active:after {
    width: 50%;
    transform: translateX(-100%);
  }
</style>


<nav style="text-align: center;" class="navbar navbar-expand-lg navbar-light py-5 sticky-top">
  <div class="container">
    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center nav-item font-italic">
      <h1 class="fw-bold" style="color: orange;">Bo-Dec, Inc.</h1>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto custom-nav">
        <li class="nav-item"><a href="{% url 'home' %}" style="color: orange;" class="nav-link font-italic {% if request.path == '/' %}active text-light{% endif %}"><h3>&nbsp;Home&nbsp;</h3></a></li>
        <li class="nav-item"><a href="{% url 'services' %}" style="color: orange;" class="nav-link font-italic {% if request.resolver_match.view_name == 'services' %}active text-light{% endif %}"><h3>&nbsp;Services&nbsp;</h3></a></li>
        <li class="nav-item"><a href="{% url 'gallery' %}" style="color: orange;" class="nav-link font-italic {% if request.resolver_match.view_name == 'gallery' %}active text-light{% endif %}"><h3>&nbsp;Gallery&nbsp;</h3></a></li>
        <li class="nav-item"><a href="{% url 'contact' %}" style="color: orange;" class="nav-link font-italic {% if request.resolver_match.view_name == 'contact' %}active text-light{% endif %}"><h3>&nbsp;Contact Us&nbsp;</h3></a></li>
      </ul>
    </div>
  </div>
</nav>