{% load static %}
<link rel="stylesheet" href="{% static 'css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#asphaltModal">
        <span class="text-black-50"><p>Asphalt</p></span>
    </button>
    <div class="modal fade" id="asphaltModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                <h3 style="text-align: center;">Asphalt Restoration</h3>
                <br>
                <h5 style="text-align: center;">
                    Restore, Protect and Preserve the Life of your Asphalt Roof
                </h5>
                <p>
                    Reduce the amount of cracking and deterioration of your asphalt roof and coatings by restoring them with our highly reflective Elastomeric coatings.
                </p>
                <ul>
                    <li>Adaptable to nearly every type of asphalt membrane</li>
                    <li>Systems may be applied to new asphalt or modified bitumen to provide immediate protection from chemical deterioration, weather and UV degradation</li>
                    <li>Lower the roof temperature, extend the roof life and aid the environment</li>
                    <li>Protects against mildew and algae growth - which deteriorate asphalt</li>
                </ul>


            </div>
        </div>
    </div>
</span>