{% load static %}
<link rel="stylesheet" href="{% static 'css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#bitumen">
        <span class="text-black-50">Modified Bitumen</span>
    </button>
    <div class="modal fade" id="bitumen" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                <h3 style="text-align: center;">Modified Bitumen<br>Roofing Features</h3>
                <br>
                <h4>Roofing Features:</h4>
                <ul>
                    <li>A self-adhering roof system; no seam leakage.</li>
                    <li>Ideal for low-slope or steeper slope roofs.</li>
                    <li>"Cool" application: NO hot kettles, NO flames, NO fumes.</li>
                    <li>Adheres to different types of substrates without hot asphalt or flames.</li>
                    <li>Re-enforced membrane offers long-term, watertight integrity you can count on!</li>
                </ul>
                <br>
                <h4 style="text-align: center;">Mule-Hide Self-Adhering<br>Modified Bitumen</h4>
                <p>
                    Crews simply place, remove release film, and roll. New generation pressure sensitive adhesive and proprietary manufacturing technology deliver a roofing system with reliable seams and years of field-proven performance through winters and summers, in cold and hot climates.
                    <br>
                    <br>
                    It's fast, clean, and safe for minimal disruption to building operations and occupents. No hot kettles, no flames, and fume free.
                </p>
            </div>
        </div>
    </div>
</span>