{% load static %}
<link rel="stylesheet" href="{% static 'website/css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#foamModal">
        <span class="text-black-50">Foam Flashing</span>
    </button>
    <div class="modal fade" id="foamModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                <h3 style="text-align: center;">Foam Flashings<br>with Spray-on<br>Urethane Foam</h3>
                <p>
                    Unlike other roofing systems, when using spray-on polyurethane foam (SPF), the material literally goes up the wall, curb, or roof-mounted penetrations. Flashing sheets and fasteners are not required.
                </p>
                <p>
                    While flashing details are the most are the most likely cause of roof leaks in virtually all roofing systems, they are often overlooked during the membrane selection process by the roof owner and the consultant and architect. Most conventional systems utilize metal, bituminous, or polymeric membrane to solve a variety of flashing details. Sometimes the roofing contractor relies on experience to field manufacture the proper solution to the problems.
                </p>
                <p>
                    All SPF details are essentially field manufactured. This allow for an easier seamless transition around roof-mounted equipment, parapets, and roof penetrations. The spray application allows for thicker applications to slope away from potential leak problems, such as walls or penetrations. After the application of foam, the protective coating usually extends 4 to 6 inches up penetrations and vertical walls.
                </p>
                <p>
                    Spray foam has the unique ability to adhere to virtually all exterior building materials. Spray polyurethane foam, when correctly applied to surfaces and then coated, does not require metal counterflashings.
                </p>

            </div>
        </div>
    </div>
</span>