{% load static %}
<link rel="stylesheet" href="{% static 'css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#membraneModal">
        <span class="text-black-50"><p>Membrane</p></span>
    </button>
    <div class="modal fade" id="membraneModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                <h3 style="text-align: center;">Single-Ply<br>Cool Roof Restoration</h3>
                <br>
                <h5 style="text-align: center;">
                    Restore, Preserve and Protect your Single-Ply Membrane with ERSystems Single-Ply Cool Roof Restoration Systems
                </h5>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Benefit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Repair seams, flashings, cracks and tears</td>
                            <td>Stops immediate leaks</td>
                        </tr>
                        <tr>
                            <td>Rework shrinkage membrane</td>
                            <td>Restores membrane integrity</td>
                        </tr>
                        <tr>
                            <td>Interrupt the chalking process</td>
                            <td>
                                Halts premature deterioration;
                                <br>
                                Stops seam deterioration;
                                <br>
                                Eliminate water penetration;
                            </td>
                        </tr>
                        <tr>
                            <td>Clean</td>
                            <td>Removes chalk, dirt and debris</td>
                        </tr>
                        <tr>
                            <td>Prime</td>
                            <td>Promotes a strong bond to the existing membrane</td>
                        </tr>
                        <tr>
                            <td>Coat</td>
                            <td>Protects against sun, water, weather and high temperatures</td>
                        </tr>
                        <tr>
                            <td>Take action to protect your membrane before your only alternative is a complete tear-off</td>
                            <td>Lower the roof temperature which aids in reducing the rate of deterioration of components, immediately lowereing energy costs and protecting the environment</td>
                        </tr>
                    </tbody>

                </table>
                <br>
                <br>

                <h5 style="text-align: center;">
                    ERSystems Protective Coatings will Extend the Life of a Single-Ply
                </h5>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Feature</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Elastomeric Coatings</td>
                            <td>The coatings will stretch and move as the membrane moves to provide continuous protection.</td>
                        </tr>
                        <tr>
                            <td>Flexible</td>
                            <td>The coatings will stay flexible in temperature extremes, from -50° F to 200° F.</td>
                        </tr>
                        <tr>
                            <td>Weatherproof</td>
                            <td>The coatings are tested and proven UV & weather resistant. They are seamless and fully adhered, adding up to 50% of the original single-ply membrane thickness.</td>
                        </tr>
                        <tr>
                            <td>Durable & Chemical Resistant</td>
                            <td>Approximately 20 mils of coating will add protection against traffic, airborne chemical contaminants, and roof top emissions.</td>
                        </tr>
                        <tr>
                            <td>Reflective</td>
                            <td>ERSystems white coatings will reflect over 80% of the damaging rays of the sun. This lowers the membrane temperature, slows membrane degradation, inproves urban air quality, and can lead to a substantial energy savings.</td>
                        </tr>
                        <tr>
                            <td>Restored Performance</td>
                            <td>Provides service life equivalent to, or exceeding that of the original membrane.</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</span>