{% load static %}
<link rel="stylesheet" href="{% static 'css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#plyModal">
        <span class="text-black-50"><p>Single-Ply</p></span>
    </button>
    <div class="modal fade" id="plyModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                <h3 style="text-align: center;">Single-Ply<br>Roof Application</h3>
                <br>
                <h5 style="text-align: center;">EPDM (Ethylene Propylene Diene Monomer) Membrane</h5>
                <p>
                    GenFlex Roofing Systems feature two single-ply EPDM membranes: GenFlex EPDM, an elastomeric membrane and Genflex FRM, an EDPM membrane with a tough polyester reinforcement. Both are designed for ultrahigh, long-term performance. EPDM's outstanding elongation characteristics resist extreme temperatures without splits or cracks, while maintaining structural integrity.
                    <br>
                    <br>
                    Installation systems include ballasted, fully-adhered, and a number of mechanically-attatched alternatives. Components include roofing tapes, bonding adhesive, sealants, flashing and applicable rooftop accessories.
                    <br>
                    <br>
                    This is a high-performance membrane, highly resistant to tears, impacts, punctures and normal roof traffic. Normal structural movement has limited effect on it's integrity. This membrane provides excellent resistance to ozone and ultraviolet light exposure.
                </p>

                <br>
                <h5 style="text-align: center;">TPO (Thermoplastic polyolefin) Membrane</h5>
                <p>
                    TPO membrane is a high quality thermoplastic polyolefin that offers the "best of both worlds"...the proven flexibility and weathering resistance of rubber and the performance of hot-air welded thermoplastic seams. The top ply features a relatively smooth finished surface that resists the accumulation of dirt, wind blown debris and biological growth, plus the white TPO meets EPA and DOA Energy Star requirements which can reduce energy consumption and heat buildup.
                </p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Fiber Reinforcement</th>
                            <th>Heat-Weldable</th>
                            <th>Advanced Compound & UV Technology</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Excellent dimensional stability</td>
                            <td>Superior seam strength</td>
                            <td>Resistance to ozone</td>
                        </tr>
                        <tr>
                            <td>Greater tear & breaking strength</td>
                            <td>Less seaming labor</td>
                            <td>Excellent long-term flexibility</td>
                        </tr>
                        <tr>
                            <td>Outstanding lay flat qualities for easier seaming</td>
                            <td>VOC free</td>
                            <td>Contains no compounds that support algae or fungi</td>
                        </tr>
                        <tr>
                            <td>Increased puncture resistance</td>
                            <td>Lower labor cost</td>
                            <td>Scuff resistant</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</span>