{% load static %}
<link rel="stylesheet" href="{% static 'css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#tuckpointModal">
        <span class="text-black-50">Tuck Pointing</span>
    </button>
    <div class="modal fade" id="tuckpointModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                
                <h3 style="text-align: center;">Tuck Pointing</h3>
                <p>
                    Tuck Pointing is a technique used to correct or repair cracked mortar joints, mortar joints that are bad due to softness and crumbling, and areas where mortar is loose or has fallen out. The old mortar will be cut out approximately 3/8 to 1/2 inch, and then the area will be re-mortared to seal. Bad mortar must be cut away in order for the new mortar to adhere and hold up. This process can be done on bad mortar joints only, or a whole section if mortar joints are consistantly in need of repair. Tuck pointing will seal against moisture behind masonry block or brick, which may cause moisture in the building.
                </p>
            </div>
        </div>
    </div>
</span>