{% load static %}
<link rel="stylesheet" href="{% static 'website/css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#urethaneModal">
        <span class="text-black-50">Urethane Spray-on</span>
    </button>
    <div class="modal fade" id="urethaneModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                
                <h3 style="text-align: center;">Urethane<br>Foam Roof Application</h3>
                <p>
                    Rigid urethane foam is an insulating material formed by two chemical components.<br><br>
                    The liquid components meet and mix at a spray gun. The material expands in a matter of seconds and within minutes of it's application becomes rigid.<br><br>
                    The superior insulating ability of urethane is due to the presence of fluorcarbon vapor trapped in millions of tiny cells.<br><br>
                    The self-flashing nature of the combination of sprayed urethane and liquid weatherproof coatings give an economical solution to the problem of sealing around penetrations in roofs for air handling equipment and vents.<br><br>
                    Saddles are built to divert water around units to prevent ponding on metal roof systems. The self-conforming ability of NCFI sprayed urethane and liquid roof coating work ideally on domed and other curved roof surfaces.
                </p>
                <table class="table table-striped">
                    <h4>What it offers...</h4>
                    <thead>
                        <tr>
                            <th>Double Insulation Efficiency</th>
                            <th>Seamless Efficiency</th>
                            <th>Self-Adhering</th>
                            <th>Energy Savings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Other materials require twice the thickness for the same insulation.</td>
                            <td>Sprayed foam creates a monolithic coat which has less heat loss than jointed insulation.</td>
                            <td>Sprayed urethane foam self adheres to clean dry surfaces.</td>
                            <td>NCFI foam insulates the roof deck from the heat of the sun and chill of ice keeping it's movement to a minimum, therefore avoiding splits in the roof.</td>
                        </tr>
                    </tbody>
                </table>

                <h4>How Does SPF Reduce Energy Costs?</h4>
                <br>
                <ul>
                    <li>SPF roofing systems are applied above the roof deck.</li>
                    <li>SPF eliminates thermal bridging by providing a continuous layer of
                      insulation over existing thermal bridges in the roof deck and/or
                      roof assembly.</li>
                    <li>SPF has very high aged R-value of between 6 to 7 per inch.</li>
                    <li>SPF roofing systems typically are coated with light-colored,
                      reflective coatings.</li>
                </ul>


                <h5>Durability</h5>
                <p>
                    Performance studies and research suggest
                    that SPF roofing systems can last 30 years or more. Additionally, they
                    require low maintenance, are resistant to leaks caused by hail and
                    wind-driven debris, are resistant to high wind blow-off, can add
                    structural strength, and minimize moisture damage within the building
                    envelope.
                </p>
                <p>
                    The principal causes of premature roof
                    failure are moisture intrusion and lack of wind resistance. Moisture
                    accumulation in roofing systems leads to dripping, accelerated failure
                    of the insulation and membrane, roof structure deterioration,
                    depreciation of assets, and poor thermal performance. SPF roofing
                    systems limit moisture intrusion because of their 90% closed cell
                    properties. Damage to the system typically does not cause leaks into the
                    building, and moisture intrusion is isolated to the areas of damaged
                    foam cells.
                </p>
                <p>
                    In conclusion, SPF roofing systems
                    demonstrate significant sustainable characteristics. SPF roofing systems
                    have a long life, are renewable, save energy, add durability to
                    buildings, and control moisture in buildings.
                </p>


                <h5>Insulation and Air Barrier Systems</h5>
                <p>
                    The use of SPF systems can significantly
                    affect the durability and climate control of a building. Three SPF
                    systems are used within the building envelope: high density (1-1/2 to 2
                    lb./cubic foot), low density (less than 1/2 lb. per cubic foot), and
                    sealant foams. High density SPF is used when strength, high moisture
                    resistance, and high insulating value are desired. Low density SPF is
                    used when insulation, air barrier, and sound control are desired.
                    Sealant foams are used to caulk around windows, doors, sill plates, and
                    other locations to seal against unwanted air infiltration.
                </p>

            </div>
        </div>
    </div>
</span>