{% load static %}
<link rel="stylesheet" href="{% static 'css/services/info-modal.css' %}">


<span style="align-self: center;" class="mb-2">
    <button type="button" class="modal-button" data-toggle="modal" data-target="#wallinsulationModal">
        <span class="text-black-50">Wall Insulation</span>
    </button>
    <div class="modal fade" id="wallinsulationModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                
                <h3 style="text-align: center;">Wall Insulation<br>with Spray-in-Place<br>Polyurethane Foam (SPF)</h3>
                <br>
                <ul>
                    <li>Improves Structual Support</li>
                    <li>Energy Savings</li>
                    <li>Very Durable</li>
                    <li>Seamless</li>
                    <li>Best Available R-Value</li>
                    <li>Lowest Possible K-Factor</li>
                </ul>
                <p>
                    Up until now, most residential and commercial insulation needs have been met with the old stand-by, fiberglass insulation. Technology and the trend toward energy conservation have caused us to look elsewhere for a superior, more reliable insulating solution. That solution is found in Spray-in-Place Polyurethane Foam (SPF). Unlike fiber insulation, SPF is highly resistant to water and water vapor, and it retains its insulation effectiveness indefinitly. Rigid polyurethane foam has been called "super insulation" because, inch for inch, it provides almost one-and-a-half to three times the insulation value of any other insulating material. 
                </p>
                <br>
                <p>
                    Polyurethane foam decreases your energy expense by limiting the amount of heat that is lost through your walls. This is due to the fact that spray-in-place polyurethane foam is 90% closed-cell. 70% of heat loss from conductance is stopped by one inch of SPF. The second inch of foam stops about 90% of heat loss and the third inch is going to stop 95% and so forth. SPF is also going to prevent nearly 100% of heat loss through air infiltration with the first one-fourth inch of applied foam. Studies show potential energy savings of twenty to forty percent. In this era of ever-increasing energy expenses, why not insulate your building with the solution you can count on, Spray-in-Place Polyurethane Foam.
                </p>
                <br>
                <h5>SPF in Walls:</h5>
                <ul>
                    <li>Is sprayed from a gun onto a surface such as wallboard and plywood sheathing, or into a cavity such as an enclosed wall or crawlspace.</li>
                    <li>Can be used throughout the interior or exterior of a structure, depending on needs.</li>
                    <li>Fills nooks and crannies that are often difficult to reach or cover uniformly with other insulating methods.</li>
                    <li>Prevents air penetration, even under the pressure differences buildings often experience.</li>
                    <li>Minimizes unwanted guests ina dwelling, such as molds, odors, and air pollutants.</li>
                    <li>Can provide added soundproofing that will prevent noise from one room being transferred to another.</li>
                    <li>Saves you energy costs!</li>
                </ul>

            </div>
        </div>
    </div>
</span>